<p>home works!</p>
<div class="container">
  <div>
    <button type="button" (click)="goToLogin()">Login</button>
  </div>
  <div>
    <!--
    <div>
      <a
        routerLink="active"
        [routerLink]="['/login', 1]"
        [queryParams]="{edit:0}"
      >
      Login Axle
      </a>
    </div>
    <div>
      <a
        routerLink="active"
        [routerLink]="['/login', 2]"
        [queryParams]="{edit:0}"
      >
      Login Jane
      </a>
    </div>
    <div>
      <a
        routerLink="active"
        [routerLink]="['/login', 3]"
        [queryParams]="{edit:0}"
      >
      Login Mary
      </a>
    </div>
    -->
  </div>
</div>